/api/node_modules
/api/public/build
/api//public/hot
/api/public/storage
/api//storage/*.key
/api/vendor
/api/.env
/api/.env.backup
/api/.env.production
/api/.phpunit.result.cache
/api/Homestead.json
/api/Homestead.yaml
/api/auth.json
/api/npm-debug.log
/api/yarn-error.log
/api/.fleet
/api/.idea
/api/.vscode


# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
